div.planner {
  overflow: scroll;
  height: 15em;
}
.planner table {
  border-collapse: separate;
  border-spacing: 0;
  border: none;
}
.planner th, .planner td {
  border-bottom: none;
  border-right: none;

}
.planner-heading th {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid white;
}
.planner th {
  background-color: #007bb1;
  color: white;
  white-space: nowrap;
  padding: 0 1em;
}
.planner-heading th:first-child {
  left: 0;
  z-index: 3;
  border-right: 1px solid white;
  background-color: #fafafa;
  border: none;
}
.planner-content th {
  position: sticky;
  left: 0;
  z-index: 1;
}
.planner-heading th:nth-child(2), .planner-content td:first-of-type {
  border-left: none;
}
.planner-content th:first-child {
  border-right: 1px solid white;
}
.planner td {
  min-width: 3em;
}
.planner .booked {
  background-color: lightgray;
}
.planner .booked-by-me {
  background-color: #7099bf;
}
.planner .free a:hover {
  background-color: #7099bf;
  color: white;
}
.planner .booked-by-me a {
  background-color: #007bb1;
  color: white;
}
.planner .booked-by-me a:hover {
  background-color: #7099bf;
}
.planner td > a, .planner td > i {
  display: block;
  padding: 0.8em 1em;
}
#content-core .planner td a {
  border-bottom: none;
}
#content-core .planner-calendarbar > a {
  margin: 0 .2em;
}
#content-core .planner-calendarbar .is-past {
  color: darkgray;
}
#content-core .planner-calendarbar .is-selected {
  background-color: lightgray;
  border: 1px solid #ccc;
  color: black;
}
